# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest / Testing
.pytest_cache/
.coverage
htmlcov/

# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# IDE / Editor Settings
.vscode/
.idea/
*.swp
